<!DOCTYPE html>
<html>
<head>
	{{> imports}}
	<title>About Page</title>
</head>

<body>
	<!-- Utilizando as chaves como templates, utilizando valores enviados pelo Node -->
	{{> header1}}
	<br/>
	<p>Some text here</p>

	{{> footer}}
</body>
</html>