<!DOCTYPE html>
<html>
<head>
	{{> imports}}
	<title>Login Page</title>
</head>
<body>
	{{> header1}}
	<br/>

	<div class="login-form">
		<form action="/login/submit" method="post">
			<h2 class="text-center">Log in</h2>       
			
			<div class="form-group">
				<input type="text" name="userLogin" class="form-control" placeholder="Username" 
				required="required">
			</div>
			
			<div class="form-group">
				<input type="password" name="userPassword" class="form-control" placeholder="Password" 
				required="required">
			</div>

			<div class="form-group">
				<input type="text" name="urlOdoo" class="form-control" placeholder="Url Odoo" required="required">
			</div>

			<div class="form-group">
				<label>Setar Porta? <input id="check_port_id" type="checkbox" name="check_port" value="usar_porta"></label>
			</div>

			<div class="form-group">
				<input type="text" id="port_id" name="port" class="form-control" placeholder="Porta">
			</div>

			<div class="form-group">
				<input type="text" name="bdOdoo" class="form-control" placeholder="Banco de Dados" required="required">
			</div>
			
			<div class="form-group">
				<button type="submit" class="btn btn-success btn-block">Log in</button>
			</div>
			<div class="clearfix">
				
			</div>        
		</form>
	</div>
	{{> footer}}
	<script type="text/javascript">
		function getUrlVars()
		{
		    var vars = [], hash;
		    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
		    for(var i = 0; i < hashes.length; i++)
		    {
		        hash = hashes[i].split('=');
		        vars.push(hash[0]);
		        vars[hash[0]] = hash[1];
		    }
		    return vars;
		}

		$( document ).ready(function() {
    		errors = getUrlVars();
    		if(errors[0] === 'error'){
    			alert('Não foi possivel Conectar');
    		}
		});
	</script>
</body>
</html>