<!DOCTYPE html>
<html>
	<head>
		{{> imports}}
		<title>Projects Page</title>
	</head>
	<body>
		{{> header1}}
		<br/>
		<p>Protifolio de projetos:</p>
		<p><a href="https://github.com/DiogoBerti/NodeApp">GitHub</a></p>
		{{> footer}}
	</body>
</html>